[tool.poetry]
name = "EIR-auto-GP"
version = "0.0.2-alpha"
description = ""
authors = ["Arnor Sigurdsson <arnor-sigurdsson@users.noreply.github.com>"]
readme = "README.md"
packages = [{include = "eir_auto_gp"}]

[tool.poetry.dependencies]
python = "^3.10.0"
eir-dl = "^0.1.31a0"
plink-pipelines = "^0.1.5a0"
scikit-optimize = "^0.9.0"
qmplot = "^0.3.2"

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
jupyter = "^1.0.0"
pre-commit = "^3.0.4"
tox = "^4.4.6"
flake8 = "^6.0.0"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
sphinx = "^6.1.3"
sphinx-copybutton = "^0.5.1"
sphinx-rtd-theme = "^1.2.0"
pdf2image = "^1.16.3"
gdown = "^4.7.1"
coverage = "^7.2.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
eirautogp = "eir_auto_gp.run:main"
eirautogwas = "eir_auto_gp.preprocess.gwas_pre_selection:main"
