name: Coverage
on: [push, pull_request]
jobs:

  coverage:
    name: Coverage
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: x64
      - name: Set up environment
        run: |
          mkdir -p ~/.local/bin
          echo "${HOME}/.local/bin" >> $GITHUB_PATH
      - name: Download and extract plink2
        run: |
          curl -LJO https://s3.amazonaws.com/plink2-assets/alpha5/plink2_linux_avx2_20240105.zip
          unzip plink2_*.zip
          rm plink2_*.zip
          chmod +x plink2
          ./plink2 --version
          mv plink2 ~/.local/bin
          plink2 --version
      - name: Run tests with Python
        run: |
          pip install tox==4.12.1
          pip install poetry==1.7.1
          tox -e py
      - name: Generate report
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}